<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Route Violation Report' | translate}}</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{'Select Route' | translate}}</ion-label>
    <select-searchable
      item-content
      [(ngModel)]="selectedRoute"
      [items]="routelist"
      itemValueField="name"
      itemTextField="name"
      [canSearch]="true"
      (onChange)="getRouteName(datetimeStart, datetimeEnd, selectedRoute)"
    >
    </select-searchable>
  </ion-item>

  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'From Date' | translate}}</span>
        <ion-datetime
          displayFormat="DD-MM-YYYY hh:mm a"
          pickerFormat="DD/MM/YY hh:mm a"
          [(ngModel)]="datetimeStart"
          (ionChange)="change(datetimeStart)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"
        ></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'To Date' | translate}}</span>
        <ion-datetime
          displayFormat="DD-MM-YYYY hh:mm a"
          pickerFormat="DD/MM/YY hh:mm a"
          [(ngModel)]="datetimeEnd"
          (ionChange)="change1(datetimeEnd)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"
        ></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon
          ios="ios-search"
          md="md-search"
          style="font-size:2.3em;"
          (click)="getroutevoilation(datetimeStart, datetimeEnd)"
        ></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let routedata of routevolitionReport">
      <ion-item style="border-bottom: 2px solid #dedede;">
        <ion-avatar item-start>
          <img src="assets/imgs/car_red_icon.png" />
        </ion-avatar>
        <ion-row>
          <ion-col col-8>
            <p style="margin-left:3px;color:black;font-size:16px;">
              {{ routedata.vehicleName }}
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <p style="margin-top:0%;">
            <span>
              <ion-icon
                ios="ios-time"
                md="md-time"
                style="margin-left: 6px;font-size:15px;"
              ></ion-icon
              >&nbsp;</span
            >
            <span style="font-size:11px;">{{
              routedata.timestamp | date: "medium"
            }}</span>
          </p>
        </ion-row>

        <ion-row>
          <p style="font-size: 14px;">
            <span>
              <ion-icon
                ios="ios-pin"
                md="md-pin"
                style="color:#e14444;font-size:17px;margin-left: 8px;
                          "
              ></ion-icon
              >&nbsp;</span
            >
            <span *ngIf="routedata.address"></span>
            <span *ngIf="!routedata.address">&nbsp;&nbsp;N/A</span>
            <span
              style="color:gray;font-size:11px;font-weight: 400;"
              text-nowrap
              >{{ routedata.address }}</span
            >
          </p>
        </ion-row>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
